.jbs_logo{
    font-family: 'Pacifico', cursive;
}

.jbs_footer_button{
    font-size: .6rem;
}

.jbs_footer{
    text-align: center;margin-top: 2rem;
}

.jbs_header{
    text-align: center;margin-bottom: 2rem;
}